:root {
    /* MAIN COLORS */
    --logoOrange: #ECA125;
    --logoOrangeLighter: #eca0254c;
    --logoOrangeHover: #eca02589;
    --logoRed: #C74B19;
    --logoGrey: #CCCCCE;
    --white: #ffffff;
    --black: #000000;
    /* FONT-SIZES */
    --mainHeading: 3.5em;
    --secondaryHeading: 2.0em;
    --paragraphSize: 1.5em;
    --captionSize: 1em;
    --phoneParagraph: 0.8em;
    /* SECTION PADDING */
    --normalPadding: 25px;
    /* ANIMATING BUTTONS */
    --buttonTransitionTime: .3s;
}

::selection {
    background: var(--logoOrangeLighter); /* WebKit/Blink Browsers */
}

*{
    font-family: 'Cabin', sans-serif;
    scroll-behavior: smooth;
    /* disable hightlight of the pictures and text */
    -webkit-touch-callout: none; /* Chrome, Safari, Edge, Opera */
    -webkit-user-select: none; /* Chrome, Safari, Firefox on iOS (iOS Mobile) */
}

/* make the whole page background black */
body, html{
    background-color: var(--black);
    color: var(--white);
    overflow-x: hidden;
}

/* Keyframes for  fading in */
@keyframes fadeIn {
    /* 0 - 50% */ 
    0%, 50% {opacity: 0;}
    /* 50% - 100% */
    50%, 100% {opacity: 1;}
}
/*
/
/
/
/
/
*/

.container-fluid{
    background-image: url('markPicutureedited.jpeg'); 
    /* background filter  */
    background-size: cover; 
    background-position: center; 
    height: 90vh; 
    display: flex; 
    justify-content: center; 
    align-items:center; 
    flex-direction: column;
    /* background color */
    background-color: var(--logoRed);
}

.container {
    position: relative;
    z-index: 2;
    background-color: transparent;
}

.display-1{
    color: white;
    font-weight: bold;
    margin-bottom: 5%;
}

.p{
    color: white;
}


.bookNowButton{
    margin-top: 10%;
}


.col-md-6 a{

    padding: 16px 32px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.col-md-6 a:hover{
    padding: 16px 32px;
    background-color: white;
    color: gray;
    text-decoration: none;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}


.location{
    margin-top: 5%;
    display: flex; 
    justify-content: center; 
    align-items:center; 
    flex-direction: column;
}

.location h1{
    margin-bottom: 5%;
    font-weight: bold;
}
/* 
.
.
.
.
 */

.workExample{
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
}

.workExample h6{
    color: gray;
}

.workExample h1{
    margin-bottom: 5%;
    font-weight: bolder;
    text-align: left;
    font-size: 50px;
}

.videos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.workExample video{
    width: 350px;
    border-radius: 10px;
}

.video-container {
    position: relative;
    display: inline-block;
}

.hover-video{
    width: 100%;
    height: auto;
}

#rotated-video {
    transform: rotate(180deg);
}


.custom-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

.video-container:hover .custom-play-button {
    opacity: 1;
}


@media screen and (max-width: 767px){  

    .location{
        margin-top: 15%;
    }

    .workExample{
        width: 95%;
        margin: 0 auto;
        margin-top: 20%;
    }

    .videos{
        flex-direction: column;
    }

    .video-container{
        margin: 0 auto;
    }

    .video-container video{
        margin-top: 10%;
    }
}