.navbar-brand{
    color: white;
}

.navbar-brand:hover{
    color: white;
}

.navbar{
    padding: 25px;
    z-index: 3;
}

.navbar-toggler{
    border: 1px solid var(--logoGrey);
    width: 15%;
}

ul{
    margin-right: 8%;
    justify-content: space-between;
}

li{
    padding: 5px;
    vertical-align: center;
    justify-content: space-evenly;
    font-weight: bold;
}

.nav-link{
    color: rgb(84, 84, 84);
}

.nav-link:hover{
    color: gray;
}

.active a{
    color: white !important;
}

