:root {
    /* MAIN COLORS */
    --logoOrange: #ECA125;
    --logoOrangeLighter: #eca0254c;
    --logoOrangeHover: #eca02589;
    --logoRed: #C74B19;
    --logoGrey: #CCCCCE;
    --white: #ffffff;
    --black: #000000;
    /* FONT-SIZES */
    --mainHeading: 3.5em;
    --secondaryHeading: 2.0em;
    --paragraphSize: 1.5em;
    --captionSize: 1em;
    --phoneParagraph: 0.8em;
    /* SECTION PADDING */
    --normalPadding: 25px;
    /* ANIMATING BUTTONS */
    --buttonTransitionTime: .3s;
}

.navbar-brand{
    color: white;
}

.navbar-brand:hover{
    color: white;
}

.navbar{
    padding: 25px;
}

.navbar-toggler{
    border: 1px solid var(--logoGrey);
    width: 5%;
}

#buttonThreeline{
    animation: fadeIn 1.8s;
}

/* Keyframes for  fading in */
@keyframes fadeIn {
    /* 0 - 50% */ 
    0%, 50% {opacity: 0;}
    /* 50% - 100% */
    50%, 100% {opacity: 1;}
}


.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
}

ul{
    margin-right: 8%;
    justify-content: space-between;
}

li{
    padding: 5px;
    vertical-align: center;
    justify-content: space-evenly;
    font-weight: bold;
}

.nav-link{
    color: rgb(84, 84, 84);
}

.nav-link:hover{
    color: gray;
}

.active a{
    color: white !important;
}

.dropdown-menu {
    display: none; /* Hide by default */
    position: absolute; /* Positioning */
    color: white; /* Background color */
  }
  
.dropdown:hover .dropdown-menu {
    display: block; /* Show on hover */
}
  
@media screen and (max-width: 767px){  
    #navbarList{
        width: 100%;
    }

    #buttonThreeline {
        display: none;
    }

    .navbar-toggler{
        border: 1px solid var(--logoGrey);
        width: 15%;
    }
}